body {
  background-color: rgb(50, 50, 50);
}

div.flex-horizontal-center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

div#game_mount {
  height: 500px;
  width: min-content;
}
