body {
    background-color: rgb(50, 50, 50);
}
#game_canvas {
    background-color: rgb(225, 225, 225);
    border: 5px solid rgb(190, 190, 190);
    height: 500px;
    width: 500px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}