body {
    background-color: #353535;
}
#game_canvas {
    border: 5px solid #C0C0C0;
    height: 500px;
    width: 500px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}