html, body {
  margin: 0;
  overflow: hidden;
}

#game_canvas {
  height: 500px;
  width: 500px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

canvas {
  position: fixed;
}